asgiref==3.8.1
beautifulsoup4==4.12.3
bleach==6.1.0
crispy-bootstrap4==2024.1
Django==5.1
django-ckeditor==6.7.1
django-ckeditor-5==0.2.13
django-crispy-forms==2.3
django-js-asset==2.2.0
django-quill-editor==0.1.40
django-summernote==0.8.20.0
django-taggit==6.0.0
django-tinymce==4.1.0
django-user-agents==0.4.0
pillow==10.4.0
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
ua-parser==0.18.0
user-agents==2.2.0
webencodings==0.5.1
mysqlclient
python-dotenv
