{% extends "base_without.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-center align-items-center" >

    <div class="col-md-6" >

        <div class="p-4 bg-white shadow rounded" style="border: 0.1px solid #dddddd;">
            <h2 class="mb-4 text-center">Профіль</h2>
            <legend class="border-bottom mb-4"></legend>
            <div class="media mb-4">
                {% if user.profile.image %}
                    <img class="rounded-circle account-img mr-3" src="{{ user.profile.image.url }}">
                {% else %}
                    <img class="rounded-circle account-img mr-3" src="{% static 'images/Flag_of_Ukraine.png' %}">
                {% endif %}
                <div class="media-body">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
<!--                    <legend class="border-bottom mb-4"></legend>-->
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group text-center">
                    <button class="btn btn-outline-info custom-btn log" type="submit" style="max-width: 150px; width: 100%; margin: 0 auto;">Оновити</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
